<div class="page-header">
    <h1>
        Reviews
        <a href="/create-review" class="btn btn-default">
            <span class="glyphicon glyphicon-plus"></span>
            New Review
        </a>
    </h1>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-6">
            <select name="city" class="form-control" id="reviewCity" ng-model="searchText">
                <option></option>
                <option value="brooklyn">Brooklyn</option>
                <option value="queens">Queens</option>
                <option value="manhattan">Manhattan</option>
                <option value="bronx">Bronx</option>
                <option value="staten-island">Staten Island</option>
            </select>
        </div>
    </div>
</div>

<!-- LOADING MESSAGE -->
<div class="jumbotron text-center" ng-show="review.processing">
    <span class="glyphicon glyphicon-repeat spinner"></span>
    <p>Loading Reviews...</p>
</div>

<table class="table table-bordered table-striped" ng-show="review.reviews">
    <thead>
        <tr>
            <th>ID</th>
            <th>Email</th>
            <th>Review</th>
            <th>City</th>
        </tr>
    </thead>
    <tbody>
        <!-- LOOP OVER THE USERS -->
        <tr ng-repeat="review in review.reviews | filter:searchText">
            <td>{{ review._id }}</td>
            <td>{{ review._creator }}</td>
            <td>{{ review.review }}</td>
            <td>{{ review.city }}</td>
        </tr>
    </tbody>
</table>
