<div class="page-header">
    <h1 ng-if="review.type == 'create'">Create Review</h1>
</div>

<form class="form-horizontal" name="reviewForm" ng-submit="review.submitForm(reviewForm.$valid)" novalidate>
    <div class="form-group" ng-class="{ 'has-error' : reviewForm.placeName.$invalid && !reviewForm.placeName.$pristine }">
        <label class="col-sm-2 control-label">Review</label>
        <div class="col-sm-6">
            <input
                type="text"
                name="placeName"
                class="form-control"
                ng-model="review.reviewData.name"
                placeholder="Enter the Place"
                ng-minlength="3"
                ng-maxlength="45"
                required>
            <span class="error" ng-show="reviewForm.placeName.$error.minlength">Too Short!</span>
            <span class="error" ng-show="reviewForm.placeName.$error.maxlength">There is not restaurant with this long of a name</span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-6">
            <select name="city" class="form-control" id="reviewCity" ng-model="review.reviewData.city" required>
                <option value="" disabled selected>Select a City</option>
                <option ng-repeat="city in review.cities">{{city}}</option>
            </select>
        </div>
    </div>
    <div class="form-group" ng-class="{ 'has-error' : reviewForm.review.$invalid && !reviewForm.review.$pristine}">
        <label class="col-sm-2 control-label">Review</label>
        <div class="col-sm-6">
            <textarea
                class="form-control"
                name="review"
                ng-model="review.reviewData.review"
                rows="10"
                placeholder="Enter Your Review!"
                ng-minlength="25"
                ng-maxlength="300"
                required>
            </textarea>
            <span class="error" ng-show="reviewForm.review.$error.minlength">Too Short</span>
            <span class="error" ng-show="reviewForm.review.$error.maxlength">Too Long</span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-6">
            <button
                name="submitReview"
                type="submit"
                ng-disabled="reviewForm.$invalid"
                class="btn btn-success btn-lg btn-block"
                ng-if="review.type == 'create'">Create Review</button>
        </div>
    </div>
</form>

<div class="row show-hide-message" ng-show="review.message">
    <div class="col-sm-6 col-sm-offset-2">
        <div class="alert alert-info">
            {{ review.message }}
        </div>
    </div>
</div>
